@import "logo";

.jp-card-logo.jp-card-amex {
    $box-offset: 7px;
    $box-width: $logo-height - $box-offset;
    $box-height: $box-width;
    $font-size: 10px;

    text-transform: uppercase;

    font-size: $font-size;
    font-weight: bold;
    color: white;

    background: #267AC3;
    border: 1px solid #EEE;
    height: 42px;
    width: 42px;
    right: 10% !important;

    &:before, &:after {
        width: $box-width;
        display: block;
        position: absolute;
    }

    &:before {
        height: $box-height;
        content: "american";
        // box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.6);
        top: $box-offset;
        left: $box-offset * -3;
        text-align: left;
    }

    &:after {
        content: "express";
        bottom: $box-offset;
        text-align: right;
    }
}
