@import "logo";

.jp-card-logo.jp-card-elo {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: black;
    color: white;
    text-align: center;
    text-transform: lowercase;
    font-size: 21px;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: bold;
    padding-top: 13px;

    .e, .l, .o {
        display: inline-block;
        position: relative;
    }

    .e {
        @include transform(rotate(-15deg));
    }

    .o {
        $percent: 100% / 3;
        $orange: #fc0;
        $red: #e32;
        $blue: #09d;
        position: relative;
        display: inline-block;
        width: 12px;
        height: 12px;
        right: -1px;
        top: 1px;
        border-radius: 100%;
        @include background-image(conic-gradient($orange 0, $orange $percent, $red 0, $red $percent * 2, $blue 0, $blue $percent * 3));
        @include transform(rotate(40deg));

        &:before {
            content: "";
            position: absolute;
            width: 49%;
            height: 49%;
            background: black;
            border-radius: 100%;
            top: 25%;
            left: 25%;
        }
    }
}
