@import "logo";

.jp-card-logo.jp-card-uatp {
    height: 30px;
    width: auto;
    color: #eee;
    font-size: 21px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    padding: 5px;
}