@import "logo";

.jp-card-logo.jp-card-visaelectron {
    // display: none;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    margin-top:5px;


    &:before, &:after {
        content: " ";
        display: block;
        width: 100%;
        height: 25%;
    }

    &:before {
        position:absolute;
        top: -1px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8px 6px 0;
        border-color: transparent #ffffff transparent transparent;
    }
    .elec {
        float: right;
        font-family: arial;
        font-size: 9px;
        margin-right: 3px;
        text-transform: none;
        font-weight: 100;
    }
}
